language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
services:
  - redis-server
install:
  - npm install
  - npm prune
script:
  - npm run lint
  - npm run test:coverage-travis
  - make dist
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
matrix:
  include:
    - node_js: 'node'
    - node_js: '6'
